{% extends 'base.html' %}

{% block main_content %}
<div class="page-header">
    <h1>Change Book: {{ book.title }}</h1>
</div>
<div style="width:60%;">
    <form method="post" name="form-change_book">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ form.type.label(class_="form-control-label") }} {{ form.type(placeholder="Can not be empty!", class_="form-control", value= book.type ) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.title.label(class_="form-control-label") }} {{ form.title(placeholder="Can not be empty!", class_="form-control", value= book.title ) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.author.label(class_="form-control-label") }} {{ form.author(placeholder="Can not be empty!", class_="form-control", value= book.author) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.isbn.label(class_="form-control-label") }} {{ form.isbn(placeholder="Can not be empty!", class_="form-control", value= book.isbn) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.genre.label(class_="form-control-label") }} {{ form.genre(placeholder="Can not be empty!", class_="form-control", value= book.genre) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.price.label(class_="form-control-label") }} {{ form.price(placeholder="Can not be empty!", class_="form-control", value= book.price ) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.language.label(class_="form-control-label") }} {{ form.language(placeholder="Can not be empty!", class_="form-control", value= book.language ) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.series.label(class_="form-control-label") }} {{ form.series(placeholder="Can not be empty!", class_="form-control", value= book.series ) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.size.label(class_="form-control-label") }} {{ form.size(placeholder="Can not be empty!", class_="form-control", value= book.size ) }}<br>
            </div>
        </div>
         <div class="row">
            <div class="col">
                {{ form.size_type.label(class_="form-control-label") }} {{ form.size_type(placeholder="Can not be empty!", class_="form-control", value= book.size_type ) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.synopsis.label(class_="form-control-label") }} {{ form.synopsis(placeholder="Can not be empty!", class_="form-control", value= book.synopsis ) }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.cover.label(class_="form-control-label") }} {{ form.cover( class_="form-control", value= book.cover ) }}<br>
            </div>
        </div>

        <div class="tinyspace"></div>
        <div class="row">
            <div class="col">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}



