{% extends 'base.html' %}

{% block main_content %}

<!-- slim select script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" rel="stylesheet"></link>


<ul class="nav mb-1">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Order by
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item"
                   href="{{url_for('bp_general.do_filter', filter_by='alphabetic')}}">Alphabetic</a></li>
            <li><a class="dropdown-item" href="{{url_for('bp_general.do_filter', filter_by='price_desc')}}">Price high
                to low</a></li>
            <li><a class="dropdown-item" href="{{url_for('bp_general.do_filter', filter_by='price_asc')}}">Price low to
                high</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Filter by genre
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('bp_general.do_filter', filter_by='fiction')}}">Fiction</a>
            </li>
            <li><a class="dropdown-item"
                   href="{{url_for('bp_general.do_filter', filter_by='non-fiction')}}">Non-Fiction</a></li>
            <li><a class="dropdown-item" href="{{url_for('bp_general.do_filter', filter_by='horror')}}">Horror</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Filter by type
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('bp_general.do_filter', filter_by='fysical')}}">Fysical</a>
            </li>
            <li><a class="dropdown-item" href="{{url_for('bp_general.do_filter', filter_by='e-book')}}">E-book</a></li>
            <li><a class="dropdown-item"
                   href="{{url_for('bp_general.do_filter', filter_by='audio-book')}}">Audio-book</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown" style="width: 20%;">
        <select id="multiple" multiple>
            {% for book in books %}
                <option value="{{ book }}">{{ book.title }}</option>
            {% endfor %}
        </select>
    </li>


</ul>


<div>
    <div class="list-group">
        {% for book in books %}
        <a href="{{ url_for('bp_book.do_book', isbn=book.isbn) }}" class="list-group-item list-group-item-action">
            <div class="d-flex align-items-stretch">
                <img src="{{ book.cover }}" alt="{{book.title}}" style="width: 7%;">
                <div class="mx-3">
                    <h3>
                        {{book.title}}
                    </h3>
                    <p>
                        {{book.author}}
                    </p>
                    <p>
                        &euro;{{book.price}}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- slim select script -->
<script>
    new SlimSelect({
        select: '#multiple'
    })
</script>

{% endblock %}