{% extends 'base.html' %}

{% block main_content %}

<div class="page-header">
    <h1>Login</h1>
</div>
<div style="width:500px;">
    <form method="post" name="form-login">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ form.email.label(class_="form-control-label") }} {{ form.email(placeholder="name@example.com",
                class_="form-control") }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.password.label(class_="form-control-label") }} {{ form.password(placeholder="Your password",
                class_="form-control") }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.remember_me }} {{ form.remember_me.label }}<br>
            </div>
        </div>
        <div class="tinyspace"></div>
        <div class="row">
            <div class="col">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form><br>
    <p>
        Not yet registered? Click <a href="{{url_for('bp_user.do_register')}}">here</a> to register.
    </p>
</div>
{% endblock %}